@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
/* line 18, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_pattern.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

/* line 29, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_pattern.scss */
html,
body {
  font-size: 62.5%;
}

@media (max-width: 1280px) {
  /* line 29, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_pattern.scss */
  html,
  body {
    font-size: 55%;
  }
}

/* line 37, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_pattern.scss */
button {
  cursor: pointer;
}

/* line 41, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_pattern.scss */
img {
  max-width: 100%;
}

/* line 46, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_pattern.scss */
.container {
  width: 100%;
  max-width: 124.6rem;
  margin: 0 auto;
  padding: 0 15px;
}

/* line 53, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_pattern.scss */
h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  color: #5F3CA1;
}

/* line 2, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
header {
  background-color: #5F3CA1;
  width: 100%;
  height: 11.9rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* line 12, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
header nav.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* line 14, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
header nav.container ul {
  display: flex;
}

/* line 16, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
header nav.container ul li {
  /* :not() significa que eu não quero que a declaração dentro das {} se aplique ao elemento que estiver dentro do () */
}

/* line 18, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
header nav.container ul li:not(:first-child) {
  margin-left: 5.6rem;
}

/* line 21, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
header nav.container ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  color: #fff;
  transition: 0.2s ease;
}

/* line 25, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
header nav.container ul li a img {
  margin-right: 1.6rem;
}

/* line 28, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
header nav.container ul li a span.star {
  font-weight: 700;
}

/* line 31, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
header nav.container ul li a:hover {
  color: rgba(255, 255, 255, 0.726);
}

@media (max-width: 600px) {
  /* line 39, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  header nav.container {
    justify-content: center;
  }
  /* line 43, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  header ul li {
    display: none;
  }
}

@media (max-width: 480px) {
  /* line 2, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  header {
    height: 8rem;
  }
}

/* line 54, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero {
  background-color: #5F3CA1;
  margin-top: 11.9rem;
  padding-top: 3.9rem;
}

/* line 58, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

/* line 61, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .hero-txt {
  width: 100%;
  max-width: 55rem;
}

/* line 64, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .hero-txt h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 120%;
  color: #fff;
  margin-bottom: 1.6rem;
}

/* line 68, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .hero-txt p {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
  max-width: 48.8rem;
  margin-bottom: 3.2rem;
}

/* line 73, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .hero-txt button {
  display: inline-block;
  height: 5.4rem;
  line-height: 5.4rem;
  background-color: #FFBF00;
  border-radius: 0.6rem;
  border: none;
  padding: 0 5rem;
  font-weight: 700;
  font-size: 1.6rem;
  transition: all .3s ease;
  margin-bottom: 8.6rem;
}

/* line 33, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_mixins.scss */
section.s-hero .hero-txt button:hover {
  background-color: #503387;
  color: #FFBF00;
}

/* line 77, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .hero-txt .arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
}

/* line 79, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .hero-txt .arrow .btn-arrow {
  width: 4.2rem;
  height: 4.2rem;
  background-color: rgba(124, 90, 186, 0.4);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* line 86, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .hero-txt .arrow span {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
  color: #fff;
  margin-left: 1.6rem;
}

/* line 92, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .hero-img {
  position: relative;
  top: 3.7rem;
}

@media (max-width: 1070px) {
  /* line 98, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-hero .container {
    flex-direction: column;
  }
  /* line 100, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-hero .container .hero-img {
    margin-inline: auto;
  }
  /* line 105, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-hero .hero-txt {
    max-width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }
  /* line 109, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-hero .hero-txt p {
    max-width: 100%;
  }
  /* line 112, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-hero .hero-txt button {
    margin-bottom: 4rem;
  }
  /* line 115, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-hero .hero-txt .arrow {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  /* line 54, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-hero {
    padding-top: 2.5rem;
  }
}

@media (max-width: 480px) {
  /* line 54, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-hero {
    margin-top: 8rem;
  }
  /* line 127, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-hero .hero-txt h1 {
    font-size: 4.3rem;
  }
  /* line 132, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-hero .hero-img {
    left: -0.9rem;
  }
}

/* line 139, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info {
  padding: 14.9rem 0 9.9rem 0;
}

/* line 141, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5.3rem;
}

/* line 151, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-top h2 {
  max-width: 50.2rem;
  font-family: "PT Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 130%;
  color: #453F51;
}

/* line 160, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-top p {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  color: #5E5570;
}

/* line 162, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-top p span {
  font-weight: 700;
}

@media (max-width: 768px) {
  /* line 141, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-info .info-top {
    flex-direction: column;
  }
  /* line 168, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-info .info-top h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

/* line 175, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

/* line 177, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-bottom .icon {
  width: 6.4rem;
  height: 6.4rem;
  background-color: rgba(197, 190, 220, 0.1);
  border-radius: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

/* line 186, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-bottom .info-card {
  max-width: 23.9rem;
}

/* line 188, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-bottom .info-card h3 {
  margin-bottom: 2rem;
}

/* line 191, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-bottom .info-card p {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 165%;
  color: #5E5570;
}

/* line 196, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-bottom .card {
  background-color: rgba(197, 190, 220, 0.1);
  width: 100%;
  max-width: 28rem;
  height: 32.3rem;
  padding-top: 4.1rem;
  padding-left: 4.2rem;
  border-radius: 1.2rem;
}

/* line 204, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-bottom .card .icon {
  background-color: #fff;
}

/* line 207, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-bottom .card .info-card {
  max-width: 20.4rem;
}

/* line 217, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-bottom ul {
  width: 100%;
  max-width: 90.4rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 4.1rem;
  padding-bottom: 6.5rem;
  padding-left: 2rem;
  border-bottom: 0.3rem solid rgba(124, 90, 186, 0.4);
}

@media (max-width: 991px) {
  /* line 175, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-info .info-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  /* line 230, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-info .info-bottom .card {
    max-width: 100%;
    height: auto;
    padding: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* line 236, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-info .info-bottom .card .info-card {
    max-width: 100%;
  }
  /* line 240, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-info .info-bottom ul {
    gap: 2.5rem;
  }
}

@media (max-width: 480px) {
  /* line 139, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-info {
    padding-top: 6rem;
  }
  /* line 249, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-info .info-bottom ul {
    flex-direction: column;
    padding-left: 0;
    margin-top: 3rem;
    text-align: center;
  }
  /* line 254, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-info .info-bottom ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* line 258, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
  section.s-info .info-bottom .info-card {
    max-width: 95%;
  }
}

/*# sourceMappingURL=main.css.map */