@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
/* line 18, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_pattern.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

/* line 29, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_pattern.scss */
html,
body {
  font-size: 62.5%;
}

/* line 34, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_pattern.scss */
button {
  cursor: pointer;
}

/* line 39, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_pattern.scss */
.container {
  width: 100%;
  max-width: 122rem;
  margin: 0 auto;
  padding: 0 15px;
}

/* line 46, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_pattern.scss */
h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  color: #5F3CA1;
}

/* line 2, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
header {
  background-color: #5F3CA1;
  height: 11.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 7, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
header nav.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 9, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
header nav.container ul {
  display: flex;
}

/* line 11, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
header nav.container ul li {
  margin-left: 5.6rem;
}

/* line 13, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
header nav.container ul li a {
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  color: #fff;
}

/* line 16, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
header nav.container ul li a img {
  margin-right: 1.6rem;
}

/* line 19, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
header nav.container ul li a span.star {
  font-weight: 700;
}

/* line 29, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero {
  background-color: #fff;
  height: 67.7rem;
  border: 1px solid red;
}

/* line 33, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .purple {
  background-color: #5F3CA1;
  height: 57.9rem;
}

/* line 36, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .purple .hero-content {
  display: flex;
}

/* line 38, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .purple .hero-content .hero-txt {
  width: 55rem;
  margin-top: 3.9rem;
}

/* line 41, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .purple .hero-content .hero-txt h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 120%;
  color: #fff;
}

/* line 44, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .purple .hero-content .hero-txt p {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
  margin: 1.6rem 0 3.2rem 0;
}

/* line 48, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .purple .hero-content .hero-txt button.teste {
  background-color: #FFBF00;
  padding: 1.7rem 5.2rem;
  border: none;
  border-radius: 0.6rem;
  color: #5F3CA1;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 8.6rem;
}

/* line 58, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .purple .hero-content .hero-txt .arrow {
  height: 4.2rem;
  display: flex;
  align-items: center;
}

/* line 61, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .purple .hero-content .hero-txt .arrow button.btn-arrow {
  height: 4.2rem;
  width: 4.2rem;
  background-color: rgba(124, 90, 186, 0.4);
  border: none;
  border-radius: 0.6rem;
  padding: 0.9rem;
}

/* line 69, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .purple .hero-content .hero-txt .arrow p {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.92rem;
  color: #fff;
  margin-left: 1.6rem;
}

/* line 76, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .purple .hero-content .hero-img {
  width: 69rem;
}

/* line 78, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-hero .purple .hero-content .hero-img img.desktop {
  margin-top: 7.6rem;
}

/* line 87, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info {
  padding: 5.1rem 0 9.9rem 0;
}

/* line 89, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-top {
  margin-bottom: 5.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 92, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-top h2 {
  width: 50.2rem;
  font-family: "PT Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 130%;
  color: #453F51;
}

/* line 96, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-top p {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  color: #5E5570;
}

/* line 98, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-top p span {
  font-weight: 700;
}

/* line 104, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 106, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-bottom .card {
  border: 1px solid red;
  width: 28rem;
  height: 32.3rem;
  padding: 4.1rem 3.4rem 6.8rem 4.2rem;
  transition: background-color 0.3s ease;
}

/* line 112, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-bottom .card img {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1.2rem;
}

/* line 117, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-bottom .card h3 {
  margin: 3rem 0 2rem 0;
}

/* line 120, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-bottom .card p {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 165%;
  color: #5E5570;
}

/* line 123, ../../../../../Users/cindysasaki/Documents/Meus projetos/KingHost/scss/_home.scss */
section.s-info .info-bottom .card:hover {
  background-color: rgba(197, 190, 220, 0.1);
}

/*# sourceMappingURL=main.css.map */