@mixin typography($font-family, $font-size, $font-weight, $line-height, $color) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color;
}

@mixin flex($direction, $align, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin d-flex-align{
    
    align-items: center;
}

@mixin d-flex-justify{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin responsive($max-width){
    @media (max-width: $max-width){
        @content;
    }
}

@mixin style-btn($height, $bg, $colorText){
    display: inline-block;
    height: $height;
    line-height: $height;
    background-color: $bg;
    border-radius: 0.6rem;
    border: none;
    padding: 0 5rem;
    font-weight: 700;
    font-size: 1.6rem;
    transition: all .3s ease;
    &:hover{
        background-color: $colorText;
        color: $bg;
    }
}